@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #fff !important;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #191919;
}

input{
  font-size: .8em !important;
  letter-spacing: .1em !important;
  font-weight: 600 !important;
}

button[type="submit"] {
  background-color: #feb434 !important;
  color: #18222f !important;
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
}

.Typewriter span {
  font-size: 1.5em !important;
  letter-spacing: .1em;
}